body{
    background-color: #EDEDE9;
    background-size: cover;
    
}
.container{
   text-align: justify;
   padding-left: 30px;
   padding-right: 100px;
}
.pageHeading{
    padding-top: 2rem;
    text-align: center;
    justify-content: center;
    font-weight: 700;
 
}

.pageHeading > h1{
    font-size: 60px;
    font-family: Georgia, serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    flex-direction: column; 
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 1rem;
    color: #312c29;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    background-color: #ddbea9;
    
}

.MainContent{
    height: 100%;
    background-color:white;
    border-radius: 0px 0px 30px 30px;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    padding: 3rem 1rem 1rem 3rem; 
}

.ContentLogo{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ContentLogo img{
    width: 600px;
}

.ContentLinks button{display: block;
    margin-left: 0px;
    margin-bottom: 1rem !important;
    min-width: 200px;
    
}


.btn {
    font-family: Verdana, sans-serif;
    font-size: 16px;
  background-color: #BCB8B1;
  border: 2px solid #8A817C;
  border-radius: 30px;
  box-shadow: #8A817C 4px 4px 0 0;
  color: #312c29;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding-left: 10px;
  padding-top: 0px;
  padding-bottom: 2px;
  line-height: 50px;
  text-align: left;
  touch-action: manipulation;
  width: 600px;
}
a:link {
    color: #312c29;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #312c29;
    background-color: transparent;
    text-decoration: none;
  }

  a:hover {
    color: #312c29;
    background-color: transparent;
    text-decoration: underline;
  }
  

.btn:hover {
  background-color: #8A817C;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

.table1 table, td, th {
  border: 1px solid;
  text-align: center;
  vertical-align: middle;
}

.table1 th{
  background-color: rgb(171, 170, 170);
}

.table1 table{
  
  width: 30%;
  border-collapse: collapse;
}
.table2 table{
  table-layout: fixed ;
  width: 100% ;
  border-collapse: collapse ;
  border: 1px black solid ;
}

.table3 table{
  table-layout: fixed ;
  width: 40% ;
  border-collapse: collapse ;
  border: 1px black solid ;
  margin-bottom: 20px;
}

.heading 
{
  color : #422800;
  font-family: Georgia, sans-serif;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.main h2 {
  font-family: Georgia, sans-serif !important;
  color : #422800 !important;
  margin-left: 10px;
}

.main p {
  font-size: 20px;
font-family:Arial, Helvetica, sans-serif;

}

.image img{
  border: 1px solid #100f0f;
  border-radius: 4px;
  padding: 5px;
  max-width: 100%;
  width : 300px;

}

.image img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
#pros {
  width : 500px !important;
}
.youtubelink a:link{
  color : blue !important;
}

.errorcodeimg img{
  align-items: center;
  max-width: 100%;
}

.table4 table{
  margin-left: 230px !important;
 
  align-content: center;
  
  width: 40% ;
  border-collapse: collapse ;
  border: 1px black solid ;
  
}

.table5 table{
  
align-content: center;
  margin-right: 500px;
  width: 3% ;
  border-collapse: collapse ;
  border: 1px black solid ;
  
}

.table6 table{
  border-collapse: collapse ;
  border: 1px black solid ;
  margin-right:5px; 
  width : 200px;
}

.main pre{
  
  margin-bottom: 0px;
    padding: 0px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.multiplication{
  display: flex;
  justify-content: center;
  
}

#jal table{
  margin-left: 230px;
}

#link3table table{
  margin-left: 230px;
}

#link3 table{

  border-collapse: collapse ;
  border: 1px black solid ;
  margin-left: 230px;
  width: 50%;

}